@using BookStoreCet.Data;
@model IEnumerable<Book>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    <div class="row text-center">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_book",item)

    }
    </div>
 
    

    </div>





